<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="9.0.0" targetFramework="net472" />
  <package id="Dart-Library.CORE" version="2.0.0" targetFramework="net461" />
  <package id="EntityFramework" version="6.3.0" targetFramework="net472" />
  <package id="FluentValidation" version="7.5.1" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="Oracle.ManagedDataAccess" version="19.6.0" targetFramework="net472" />
  <package id="Oracle.ManagedDataAccess.EntityFramework" version="19.3.0" targetFramework="net472" />
  <package id="PDFsharp-MigraDoc" version="1.50.5147" targetFramework="net472" />
  <package id="Polly" version="7.1.1" targetFramework="net472" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.4.1" targetFramework="net461" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="net461" />
</packages>