<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="log4net.Internal.Debug" value="true" />
    <!--<add key="DatabaseSchema" value="DART" />-->
    <add key="DatabaseSchema" value="DART" />
    <add key="TransactionScopeTimeout" value="60" />
    <add key="OauthServer" value="http://localhost:4356/" />
    <add key="IntegracaoSankhya_Usuario" value="dart" />
    <add key="IntegracaoSankhya_Senha" value="dart123" />
    <add key="IntegracaoSankhya_URL" value="http://10.1.21.9:8180/" />
    <add key="IntegracaoSankhya_TempoExpiracaoToken" value="4" />
    <add key="IntegracaoSankhya_Habilitar" value="false" />
    <add key="Impressao_Habilitar" value="false" />
    <add key="IntegracaoSankhya_CodigoDevolucaoCompra" value="2301" />
    <add key="IntegracaoSankhya_CodigoDevolucaoVenda" value="1302" />
    <add key="IntegracaoSankhya_Empresa_GrupoBat" value="K1,K2" />
    <!-- 2001 deve ser removido em produção -->
    <add key="IntegracaoSankhya_TOP_PedidoVenda" value="2001,2101,2102,2103" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
  </entityFramework>
  <log4net debug="true">
    <appender name="SQLAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="Oracle.ManagedDataAccess.Client.OracleConnection, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
      <!--
      <connectionString value="data source=OracleDataSource;User ID=dartqa;Password=dartqa" />
      <commandText value="INSERT INTO DARTQA.applicationlog (created,loglevel,message,logexception,idapplication) VALUES (:created, :loglevel, :message, :logexception, :idApplication)" />
      -->
      <!--<connectionString value="data source=OracleDataSource;User ID=dart;Password=dart" />
      <commandText value="INSERT INTO DART.applicationlog (created,loglevel,message,logexception,idapplication) VALUES (:created, :loglevel, :message, :logexception, :idApplication)" />-->
      <connectionString value="data source=OracleDataSource;User ID=dart;Password=vm20vm11" />
      <commandText value="INSERT INTO DART.applicationlog (created,loglevel,message,logexception,idapplication) VALUES (:created, :loglevel, :message, :logexception, :idApplication)" />
      <parameter>
        <parameterName value=":created" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawUtcTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value=":loglevel" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":logexception" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
      <parameter>
        <parameterName value=":idApplication" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{idApplication}" />
        </layout>
      </parameter>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="SQLAppender" />
    </root>
  </log4net>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\log4net.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="OracleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=furacao-db.brazilsouth.cloudapp.azure.com)(PORT=1521))(CONNECT_DATA=(SID=orcl))) " />
        <!--<dataSource alias="OracleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=10.1.16.51)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=dart))) " />-->
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <connectionStrings>
    <!--<add name="Entities" providerName="Oracle.ManagedDataAccess.Client" connectionString="Persist Security Info=true;User Id=dart;Password=dart;Data Source=OracleDataSource" />
    <add name="Log4Net" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=dartqa;Password=dartqa;Data Source=OracleDataSource" />
    <add name="IdentityConnection" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=dartqa;Password=dartqa;Data Source=OracleDataSource" />
    <add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=dartqa;Password=dartqa;Data Source=OracleDataSource" />-->
    <!--<add name="Entities" providerName="Oracle.ManagedDataAccess.Client" connectionString="Persist Security Info=true;User Id=dart;Password=dart;Data Source=OracleDataSource" />
    <add name="Log4Net" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=dart;Password=dart;Data Source=OracleDataSource" />
    <add name="IdentityConnection" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=dart;Password=dart;Data Source=OracleDataSource" />
    <add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=dart;Password=dart;Data Source=OracleDataSource" />-->
    <add name="Entities" providerName="Oracle.ManagedDataAccess.Client" connectionString="Persist Security Info=true;User Id=dart;Password=vm20vm11;Data Source=OracleDataSource" />
    <add name="Log4Net" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=dart;Password=vm20vm11;Data Source=OracleDataSource" />
    <add name="IdentityConnection" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=dart;Password=vm20vm11;Data Source=OracleDataSource" />
    <add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=dart;Password=vm20vm11;Data Source=OracleDataSource" />
  </connectionStrings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
</configuration>