@model FWLog.Web.Backoffice.Models.GarantiaConfiguracaoCtx.GarantiaConfiguracaoViewModel
@using FWLog.AspNet.Identity

@section Scripts { @BundleHelper.RenderViewScript() }

<div class="col-md-12 col-sm-12">
    <div class="x_panel">
        <div class="x_title">
            <h2><i class="fa fa-bars"></i> Configuração </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <!-- menu -->
            <ul class="nav nav-tabs bar_tabs" id="myTab" role="tablist">
                <li class="nav-item active">
                    <a class="nav-link" id="fornecedor-quebra-tab" data-toggle="tab" href="#fornecedor-quebra" role="tab" aria-selected="true" aria-expanded="true">Fornecedor Quebra</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="sankhya-top-tab" data-toggle="tab" href="#sankhya-top" role="tab" aria-selected="false">Sankhya Tops</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-selected="false">Contact</a>
                </li>
            </ul>
            <!-- panels -->
            <div class="tab-content" id="myTabContent">
                <!-- Fornecedor Quebra -->
                <div class="tab-pane fade active in" id="fornecedor-quebra" role="tabpanel" aria-labelledby="fornecedor-quebra-tab">
                    <div class="col-md-4 col-sm-4">
                        @Html.TextBoxFor(m => m.Cod_Fornecedor, new { @class = "form-control text-uppercase", data_field = "Cod_Fornecedor", placeholder = "Consultar Fornecedor" })
                        <div>
                            <div class="x_panel">
                                <div class="x_title text-muted"><b>Fornecedores selecionados</b></div>
                                <div class="x_content">
                                    <ul id="listaFornecedor" class="to_do" style="overflow:auto; height:240px"></ul>
                                </div>
                            </div>
                            <div class="form-inline">
                                <button id="btnLimpar" type="button" class="btn btn-danger">Limpar Lista</button>
                                <button id="btnGravar" type="button" class="btn btn-primary">Gravar Lista</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8 col-sm-8">
                        <!-- Grid Fornecedor Quebra -->
                        <div class="x_content">
                            <div class="x_title text-muted"><b>Fornecedores cadastrados</b></div>
                            <table id="gridFornecedorQuebra" class="table table-striped table-bordered dt-responsive" style="width:100%"></table>
                        </div>
                    </div>
                </div>
                <!-- Sankhya Tops -->
                <div class="tab-pane fade" id="sankhya-top" role="tabpanel" aria-labelledby="sankhya-top-tab">
                    <div class="col-md-6 col-sm-6">
                        <div class="input-group">
                            <input type="text" class="form-control">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary">Go!</button>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- tab 3 -->
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    xxFood truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo
                    booth letterpress, commodo enim craft beer mlkshk
                </div>
            </div>
        </div>
    </div>
</div>