@model FWLog.Web.Backoffice.Models.BOPrinterCtx.BOPrinterSelecionarViewModel
@{
    Layout = null;

    @BundleHelper.RenderViewScriptModal()
}

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Lista de Impressoras</h4>
        </div>
        <div class="modal-body">
            <div class="x_panel">
                <div class="x_content">
                    <div class="row">
                        @foreach (var impressora in Model.Impressoras)
                        {
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group">
                                @Html.RadioButton("IdImpressora", impressora.Id, new { Id = "IdImpressora" + impressora.Id })
                                <label for="IdImpressora@(impressora.Id)">@impressora.Nome</label>
                            </div>
                        </div>
                        }
                    </div>
                    <div class="row navbar-right">
                        <div class="col-sm-12 col-lg-12">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            <button type="button" class="btn btn-primary"><i class="fa fa-fw fa-print"></i> Impirmir</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
