@model List<FWLog.Web.Backoffice.Models.GarantiaCtx.GarantiaConferencia>

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_content">
                <table id="tbDivergenciaItens" class="table table-striped table-bordered dt-responsive" style="width:100%">
                    <thead>
                        <tr>
                            <th>Refx</th>
                            <th>Descrição</th>
                            <th>Quant.</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>@item.Refx</td>
                                <td>@item.Descricao</td>
                                <td>
                                    @if (item.Quantidade < 0)
                                    {
                                        <span class="label label-danger">@item.Quantidade</span>
                                    }
                                    else
                                    {
                                        <span class="label label-success">@item.Quantidade</span>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>