@model List<FWLog.Web.Backoffice.Models.GarantiaCtx.GarantiaConferenciaItem>

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_content">
                <table id="tbItensPendentes" class="table table-striped table-bordered dt-responsive" style="width:100%">
                    <thead>
                        <tr>
                            <th>Refx</th>
                            <th>Descrição</th>
                            @if (ViewBag.Id_Tipo_Conf == 26 || ViewBag.Id_Tipo_Conf == 6)
                            {
                                <th>Solicitação</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>@item.Refx</td>
                                <td>@item.Descricao</td>
                                @if (ViewBag.Id_Tipo_Conf == 26 || ViewBag.Id_Tipo_Conf == 6)
                                {
                                    <td>@item.Id_Solicitacao</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>