@model FWLog.Web.Backoffice.Models.GarantiaCtx.GarantiaLaudoVM

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_content">
                <button id="btAdicionarLaudo" type="button" class="btn btn-primary right"><i class="fa fa-plus"></i> Adicionar Laudo</button>
                <table id="tbDivergenciaItens" class="table table-striped table-bordered dt-responsive" style="width:100%">
                    <thead>
                        <tr>
                            <th>Refx</th>
                            <th>Descrição</th>
                            <th>Quant.</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>xxx</td>
                            <td>teste</td>
                            <td>2</td>
                            <td>
                                <a href="#" onclick="itensLaudoDetalhe()" class="btn btn-sm btn-info" title="" data-original-title="Visualizar"><i class="fa fa-eye"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>zzz</td>
                            <td>teste</td>
                            <td>2</td>
                            <td>
                                <a href="#" onclick="itensLaudoDetalhe()" class="btn btn-sm btn-info" title="" data-original-title="Visualizar"><i class="fa fa-eye"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>