@{
    ViewBag.Title = "Image Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @BundleHelper.RenderViewScript()
}

<!-- title -->
<div class="page-title">
    <div class="title">
        <h3>@ViewBag.Title</h3>
    </div>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","BOHome")">Início</a></li>
        <li class="active">Exemplo</li>
        <li class="active">Image Upload</li>
    </ol>
</div>
<!-- /title -->

<div class="x_panel">
    <div class="x_title">
        <h2>Image Upload</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <!-- fields -->
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <label>Upload</label>
                <div class="dropzone" data-config-unique-name="ImageCropExample" data-input-name="fileName" data-max-file="3" data-scroll="false" data-readonly="false">
                </div>
            </div>
        </div>
        <!-- /fields -->
        <!-- footer -->
        <div class="ln_solid"></div>
        <div class="row col-xs-12 form-buttons">
            <a href="@Url.Action("Index")" class="btn btn-default">Cancelar</a>
            <button type="submit" class="btn btn-primary">Confirmar</button>
        </div>
        <!-- /footer -->
    </div>
</div>



