@using Res = Resources.ErrorStrings

@{
    if (Request.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutExternal.cshtml";
    }

    ViewBag.Title = Res.IndexPageTitle;
}

<style>
    @@media (min-width: 768px) {
        .centro {
            margin-left: 25%;
        }
    }
</style>

<div class="col-middle">
    <div class="text-center col-sm-6 col-xs-12 centro" style="border-radius: 15px; background-color: #155831;">
        <h1 class="error-number" style="color: #ffffff">500</h1>
        <h2 style="color: #ffffff">Erro Interno no Servidor</h2>
        <p style="color: #ffffff">Clique no botão abaixo para reiniciar o processo. Se o erro persistir, entre em contato com a equipe técnica.</p>
        <div style="padding: 10px 20px;">
            <a href="@Url.Action("Index", "BOHome")" class="btn btn-primary">@Res.BackToHomeAction</a>
        </div>
    </div>
</div>