@using Res = Resources.ErrorStrings

@{
    if (Request.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutExternal.cshtml";
    }

    ViewBag.Title = Res.IndexPageTitle;
}

<div class="col-middle" style="background: #155831;">
    <div class="text-center">
        <h1 class="error-number" style="color: #ffffff">500</h1>
        <h2 style="color: #ffffff">Erro Interno no Servidor</h2>
        <p style="color: #ffffff">Clique no botão abaixo para reiniciar o processo. Se o erro persistir, entre em contato com a equipe técnica.</p>
        <div style="padding: 10px 20px;">
            <a href="@Url.Action("Index", "BOHome")" class="btn btn-primary">@Res.BackToHomeAction</a>
        </div>
    </div>
</div>