@using Res = Resources.ErrorStrings


@{
    if (Request.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutExternal.cshtml";
    }

    ViewBag.Title = Res.NotFoundPageTitle;
}

<div class="col-middle getpoints">
    <div class="text-center error-page">
        <div class="error-number">404</div>
        <div class="error-title">@Res.NotFoundPageHeader</div>
        <div class="error-description">
            <p>
                @Res.NotFoundPageDescription
            </p>
        </div>
        <div class="error-footer">
            <a href="@Url.Action("Index", "BOHome")" class="btn btn-primary">@Res.BackToHomeAction</a>
        </div>
    </div>
</div>
