@using FWLog.AspNet.Identity
@using Res = Resources.CommonStrings
@using FWLog.Web.Backoffice.Helpers;

@{
    var menu = new SidebarMenu(User);

    menu.SetItems(
        new MenuItem { Text = Res.HomeMenuItem, Icon = "fa fa-home", Url = Url.Action("Index", "BOHome") },
        new MenuGroup(Res.MenuRecebimento, "fa fa-truck").SetItems(
            new MenuItem { Text = Res.MenuRecebimentoNotas, Url = Url.Action("Index", "BORecebimentoNota"), RequirePermission = Permissions.Recebimento.List },
            //new MenuItem { Text = Res.MenuRecebimentoeEtiquetas, Url = Url.Action("", ""), RequirePermission = Permissions.Role.List },
            new MenuItem { Text = Res.MenuRecebimentoQuarentena, Url = Url.Action("Index", "BOQuarentena"), RequirePermission = Permissions.RecebimentoQuarentena.List },
            new MenuItem { Text = "Etiqueta - Lote", Url = Url.Action("Index", "RecebimentoEtiqueta"), RequirePermission = Permissions.RecebimentoEtiqueta.ImprimirEtiquetaLote },
            new MenuItem { Text = "Etiqueta - Individual e Personalizada", Url = Url.Action("", ""), RequirePermission = Permissions.RecebimentoEtiquetaIndividualEPersonalizada.Listar },
            new MenuItem { Text = "Relatório - Rastreio de Peça", Url = Url.Action("RelatorioRastreioPeca", "BORecebimentoNota"), RequirePermission = Permissions.BOLogSystem.List },
            new MenuItem { Text = "Relatório - Resumo de Etiquetagem", Url = Url.Action("", ""), RequirePermission = Permissions.BOLogSystem.List },
            new MenuItem { Text = "Relatório - Rastreio de Peça", Url = Url.Action("RelatorioRastreioPeca", "BORecebimentoNota"), RequirePermission = Permissions.BOLogSystem.List },
            new MenuItem { Text = "Relatório - Resumo Produção", Url = Url.Action("RelatorioResumoProducao", "BORecebimentoNota"), RequirePermission = Permissions.BOLogSystem.List }
        ),
        new MenuGroup("Armazenagem", "fa fa-cubes").SetItems(
            new MenuItem { Text = "Níveis de Armazenagem", Url = Url.Action("Index", "NivelArmazenagem"), RequirePermission = Permissions.NivelArmazenagem.Listar },
            new MenuItem { Text = "Pontos de Armazenagem", Url = Url.Action("Index", "PontoArmazenagem"), RequirePermission = Permissions.PontoArmazenagem.Listar },
            new MenuItem { Text = "Endereços de Armazenagem", Url = Url.Action("Index", "EnderecoArmazenagem"), RequirePermission = Permissions.EnderecoArmazenagem.Listar }
        ),
        new MenuGroup(text: Res.UserMenuGroup, icon: "fa fa-user").SetItems(
            new MenuItem { Text = "Usuários", Url = Url.Action("Index", "BOAccount"), RequirePermission = Permissions.BOAccount.List },
            new MenuItem { Text = "Grupos de Usuários", Url = Url.Action("Index", "BOGroup"), RequirePermission = Permissions.Role.List }
        ),
        new MenuGroup(text: Res.ConfigurationMenuGroup, icon: "fa fa-cog").SetItems(
            new MenuItem { Text = "Empresa", Url = Url.Action("Editar", "Empresa"), RequirePermission = Permissions.Empresa.EditarConfiguracao },
            new MenuItem { Text = Res.PrinterMenuItem, Url = Url.Action("Index", "BOPrinter"), RequirePermission = Permissions.Printer.List }
        ),
         new MenuGroup(text: Res.RelatoriosMenuItem, icon: "fa fa-archive").SetItems(
            new MenuItem { Text = Res.BOLogSystemMenuItem, Url = Url.Action("Index", "BOLogSystem"), RequirePermission = Permissions.BOLogSystem.List },
            new MenuItem { Text = Res.ApplicationLogMenuItem, Url = Url.Action("Index", "ApplicationLog"), RequirePermission = Permissions.ApplicationLog.List }
        )
    );
}

<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="@Url.Action("Index","BOHome")" class="site_title">
                <img class="menu-logo" src="@Url.Content("~/Content/images/logo.png")" />
            </a>
        </div>
        <div class="clearfix"></div>
        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <ul class="nav side-menu">
                    @menu.Render()
                </ul>
            </div>
        </div>
        <!-- /sidebar menu -->
        @*<!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
                <a data-toggle="tooltip" data-placement="top" title="Settings">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="FullScreen" onclick="requestFullScreen();">
                    <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="Lock">
                    <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                </a>
            </div>
            <!-- /menu footer buttons -->*@
    </div>
</div>