@{
    ViewBag.Title = "Início";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {}

<!-- title -->
<div class="page-title">
    <div class="title">
        <h3>Início</h3>
    </div>
</div>
<!-- /title -->